{% extends 'base.html' %}

{% block content %}
<!-- hero -->

<div class="hero-section">
  <h1 > Studio de danse </h1>
  <h2> En plein centre de Manhattan </h2>
</div>

  
<!-- barre colore -->
<div class="barre-colore">
</div>
  
<!-- 2 colonne section  -->
<div class="section">
  <div class="section1">
  <img class="danse" src="/static/images/danse.jpg"
     alt="" width="100%" >
  </div>
  <div class="section2">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam voluptatem aut nisi laboriosam repudiandae minima delectus itaque voluptas optio aperiam culpa, odit omnis mollitia vel reprehenderit. Nesciunt non quia esse?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum dolor officia molestiae nihil quod consequatur dicta, perferendis tenetur non laborum dolore quas, illo corporis incidunt facere fugit, praesentium quisquam consectetur.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero voluptates assumenda eveniet placeat vel ipsum ullam vero, iusto itaque eum, delectus similique fuga possimus, molestias ipsam? Minus quaerat autem nihil?</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel earum iusto sequi iure velit atque ducimus, sit, tempore id repudiandae omnis nisi aliquid cum totam voluptatibus minus nulla consequuntur? Magnam?</p>
  </div>
</div>

<!-- barre colore -->
<div class="barre-colore-2">
  <div class="barre-texte">
  <h2>Nos cours</h2>
  </div>
</div>
  
<!-- cards -->
<div class="main">
  <div class="row">
    
    <div class="card col-12 col-md-4">
    <img class="card-img-top" src="/static/images/danse.jpg" alt="">
    <div class="card-body">
    <h5 class="card-title">cours de danse</h5>
    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum doloremque illo recusandae quam aut labore sunt distinctio, maiores magnam asperiores beatae, reprehenderit, soluta molestias provident? Dignissimos reprehenderit harum adipisci sequi</p>
    <a href="#" class="btn btn-primary"> reserves</a>
    </div>
    </div>
 
    <div class="card col-12 col-md-4">
    <img class="card-img-top" src="/static/images/yoga.jpg" alt="">
    <div class="card-body">
    <h5 class="card-title">cours de danse</h5>
    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum doloremque illo recusandae quam aut labore sunt distinctio, maiores magnam asperiores beatae, reprehenderit, soluta molestias provident? Dignissimos reprehenderit harum adipisci sequi</p>
    <a href="#" class="btn btn-primary"> reserves</a>
    </div>
    </div>
   
    <div class="card col-12 col-md-4">
    <img class="card-img-top" src="/static/images/danse-break.jpg" alt="">
    <div class="card-body">
    <h5 class="card-title">cours de danse</h5>
    <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum doloremque illo recusandae quam aut labore sunt distinctio, maiores magnam asperiores beatae, reprehenderit, soluta molestias provident? Dignissimos reprehenderit harum adipisci sequi</p>
    <a href="#" class="btn btn-primary"> reserves</a>
    </div>
    </div>
  </div>
</div>

<!-- barre colore -->
<div class="barre-colore">
</div>
{% endblock %}