{% extends 'base.html' %}

{% block content %}

<style>
  body{
    background-color: pink; 
  } 
</style>

<div class="marge"></div>

<div class="main-projet">
  
  <div class="row-projet-1">
    <div class="membre-projet">
      <img src="/static/images/twerk.jpg" alt="" width="300">
      <div class="description-membre-projet">
        <h4>Alec</h4>
        <h5>Twerk</h5>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos nemo repellat delectus, assumenda voluptas eos incidunt et suscipit exercitationem possimus ut dolorem numquam saepe rerum illo eveniet aspernatur qui fuga.</p>
        <div class="logo-projet">
          <a href="#"><i class="fa-brands fa-facebook fa-xl" ></i></a>
          <a href="#"><i class="fa-brands fa-instagram fa-xl"></i></a>
          <a href="#"><i class="fa-brands fa-youtube fa-xl"></i></a>
          <a href="#"><i class="fa-brands fa-linkedin fa-xl"></i></a>
        </div> 
      </div>
    </div>


    <div class="membre-projet">
      <img src="/static/images/twerk.jpg" alt="" width="300">
      <div class="description-membre-projet">
        <h4>Steph</h4>
        <h5>Poledance</h5>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos nemo repellat delectus, assumenda voluptas eos incidunt et suscipit exercitationem possimus ut dolorem numquam saepe rerum illo eveniet aspernatur qui fuga.</p>
        <div class="logo-projet">
          <a href="#"><i class="fa-brands fa-facebook fa-xl" ></i></a>
          <a href="#"><i class="fa-brands fa-instagram fa-xl"></i></a>
          <a href="#"><i class="fa-brands fa-youtube fa-xl"></i></a>
          <a href="#"><i class="fa-brands fa-linkedin fa-xl"></i></a>
        </div> 
      </div>
    </div>
  </div>

  <div class="row-projet-1">
    <div class="membre-projet">
      <img src="/static/images/twerk.jpg" alt="" width="300">
      <div class="description-membre-projet">
        <h4>Max</h4>
        <h5>Danse empowerant</h5>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos nemo repellat delectus, assumenda voluptas eos incidunt et suscipit exercitationem possimus ut dolorem numquam saepe rerum illo eveniet aspernatur qui fuga.</p>
        <div class="logo-projet">
          <a href="#"><i class="fa-brands fa-facebook fa-xl" ></i></a>
          <a href="#"><i class="fa-brands fa-instagram fa-xl"></i></a>
          <a href="#"><i class="fa-brands fa-youtube fa-xl"></i></a>
          <a href="#"><i class="fa-brands fa-linkedin fa-xl"></i></a>
        </div> 
      </div>
    </div>

    <div class="membre-projet">
      <img src="/static/images/twerk.jpg" alt="" width="300">
      <div class="description-membre-projet">
        <h4>Rudi</h4>
        <h5>Danse d'ancrage</h5>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos nemo repellat delectus, assumenda voluptas eos incidunt et suscipit exercitationem possimus ut dolorem numquam saepe rerum illo eveniet aspernatur qui fuga.</p>
        <div class="logo-projet">
          <a href="#"><i class="fa-brands fa-facebook fa-xl" ></i></a>
          <a href="#"><i class="fa-brands fa-instagram fa-xl"></i></a>
          <a href="#"><i class="fa-brands fa-youtube fa-xl"></i></a>
          <a href="#"><i class="fa-brands fa-linkedin fa-xl"></i></a>
        </div> 
      </div>
    </div>
  </div>

  
</div>

{% endblock %}